@media(max-width: 890px){
    .mostrar-menu, .cerrar-menu{
        display: block;
    }
    .listas{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #395B64;
        top: 0;
        right: -100%;
        padding: 70px 0px;
    }
    .listas ul{
        flex-direction: column;
        align-items: center; 
    }
    .listas ul li{
        margin: 40px 0px;
    }
    .listas ul li a{
        font-size: 30px;
    }
    .cerrar-menu{
        position: absolute;
        top: 20px;
        right: 40px;
    }
    #check:checked ~ .listas{
        right: 0;
    }


    /*slider de imagenes*/
    .slider{
        height: auto;
    }
    .contenedor-slider{
        width: 100%;
    }

    /* imagenes parrallex*/
    .contenedor-imagen{
        width: 100%;
    }
    .contenedor-imagen h1{
        font-size: 40px;
        text-align: center;
    }


    /*categoria*/
    .texto-categ h1{
        font-size: 40px;
    }
    .contenedor-caja{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    /*contenedor sobre nosotros*/
    .contenedor-sobre{
        width: 100%;
    }
    .imagen-sobre ,.texto-sobre{
        width: 100%;
    }
    .titulo-sobre h1{
        font-size: 40px;
    }
    .imagen-sobre img{
        width: 450px;
        
    }
    .contenedor-flex{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
